MONGODB_URI=mongodb+srv://chandangoraincse2023_db_user:3FH2DmsNCFbxI6UK@crop-cluster.wvayssn.mongodb.net/
JWT_SECRET=835d88837677493ebb776309119a34f11a75f61ad9a03cac9382880ed5dfd693
ADMIN_EMAIL=adminemail@here.com
ADMIN_PASSWORD=admin@123
PORT=5000
